.activity {
    height: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    background: #f3e7e8;

    &-wrapper {    
        width: 72vw;
        padding: 60px 0px 90px 0;
    }
    
    &-image {
        width: 450px;
    }
}

.kokos {
    display: flex;
    column-gap: 15px;   
}

@media  screen and(max-width: 1600px){
    .activity-wrapper {
        width: 90vw;    
    }   
    .activity-image {
        width: 29vw;
    }
}

@media  screen and(max-width: 910px){    
   .activity-image {
        width: 42vw;
    }
}

@media screen and(max-width: 600px){
    .activity-image {
        width: 88vw;
    }
}

