.home-blog {
    top: 0;
    height: 110vh;
    width: 100%;
    // padding-top: 40vh;
    // align-items: center;
    text-align: center;
    // overflow: hidden;
    background:    
    -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8), black),
    url("../img/girl1.jpg") center top;
    background-size: cover;

    h1 {
        font-size: 3.4rem;
        color: white;
    }
    .explore-btn{
       display: block;
       margin: 0 auto;
       padding: 16px 64px;
       font-size: 0.9rem;
       background-color: transparent;
       color: white;
       border: 1px solid $pink;
       border-radius: 2rem;
       cursor: pointer;
    }

}    

.home-blog a {
     
    text-decoration: none; 
    color: white;
   
}

.home-blog a:hover {
    color: #e90e65;
    cursor: pointer;
}


.blog-news {
    padding-top: 50px;
    width: 100%;
    height: 200vh;
    background-image: url(../img/girl2.jpg);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: cover;
    &-wrapper {
        height: 94%;
        width: 80%;
        margin: 0 auto;
        background: $pink;
        border-radius: 15px;
        padding-top: 40px;

        .blog-header {
            color: white;
            text-align: center;
            font-size: 2.6rem;
            font-weight: bold;

        }

        .blog-box {
            width: 90%;
            display: grid;
            grid-template-columns: 32% 64%;
            justify-content: center;
            justify-self: center;
            align-items: center;
            column-gap: 15px;
            border: 2px solid red;
            color: white;
            

            &-header {
                font-size: 2rem;
            }

            &-text {
                font-size: 1rem;
            }
        }

        img:nth-child(1){
            margin-top: 15px;
            display: block;
            grid-column: 1;
            width: 360px;
            height: 300px;
        }
// nie działa drugi obraz
        img:nth-child(2) {
           
            border-radius: 50px;
        }

        img:nth-last-child(3) {
            border-radius: 15px;

        }

        .blog-text {
            grid-column: 2;
            border: 2px solid purple;
        }
    }
}