.contact {
    margin-top: 32.1px;
    height: 96vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;

    &-form {
        
        grid-column: 2;
        background: $pink;

        &-text {
            color: $pink;
            font-size: 1.4rem;
            font-weight: bold;
        }

        &-wrapper {
            height: 520px;
            width:  380px;
            background: white;
            border-radius: 20px;
            margin: 110px auto;
            display: grid;
            justify-items: center;

        }

        &-wrapper input {
            margin-bottom: 20px;
            border: none;
            background-color: #ebd8df;
            border-radius: 25px;
            font-size: 15px;
            padding: 16px 60px;
        }

        &-wrapper textarea {
            margin-bottom: 20px;
            border: none;
            background-color: #ebd8df;
            border-radius: 25px;
            font-size: 15px;
            padding: 25px 30px;
            resize: none;
        }
    }

}

.google-maps {
    grid-column: 1;
}

#active:checked + label > input {
    border: 1px solid red;
}

.send-btn {
    background: #e90e65;
    width: 140px;
    padding: 13px 0;
    font-size: 15px;
    color: #fff;
    border: none;
    border-radius: 40px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    margin-bottom: 18px;
}

.display-textarea-small {
    display:none;
}

@media  screen and(max-width: 840px) {

    .contact {
        margin-top: 0px;
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: 500px 1fr;
     
        .google-maps {
            grid-column: 1;
            grid-row: 1;
            
        }

        &-form {
            grid-column: 1;
            grid-row: 2;
        }
     
    }
}



@media screen and(max-width: 400px) {

    .contact {
        height: 165vh;
        margin: 0 auto;

        &-form {    
            &-wrapper { 
                margin: 60px auto; 
                 width: 85%
            }
            
            &-wrapper input {
               padding: 1px 6px;
            }

            &-wrapper textarea {
                padding: 10px 20px;   
            }
    }
    .display-textarea {
       display: none;
    }
    .display-textarea-small {
        display: block;
    }
}
}