.instagram-feed {
    height: auto;

    &-wrapper {
        padding: 50px 0;
        width: 1100px;
        height: auto;
        margin: 10px auto 0 auto;
        display: grid;
        grid-template-columns: 350px 560px;
        grid-template-rows: 450px 200px;
        align-content: center;
        justify-content: center;
        column-gap: 100px;
        row-gap: 100px;
    }

    &-card{
        grid-column: 1;
        grid-row: 1;
        position: relative;
        box-shadow: 0px 10px 10px 0px;
        padding: 60px 30px; 
    }

    &-twitter-card {
        display: flex;
        align-items: flex-start;
        border-radius: 22px;
    }

    .instagram-feed-card {
        border-radius: 15px;
    }

    .instagram-feed-card:before {
        content: "";
        position: absolute;
        width: 70px;
        height: 57px;
        background: url(../img/twitter-logo.png);
        margin-left: -55px;
        top: -20px;
    }

    &-images {
        grid-column: 2;
        grid-row: 1;
        margin-left: 30px;   
    }

    .instagram-feed-image {
        margin-top: 55px;    
    }

    .instagram-feed-image:nth-last-child(2) {
       padding-right: 15px;
    }

    &-socials {
        grid-column: 1 / 3;
        grid-row: 2;
       
        text-align: center;
        

        &-header {
            color: #584f53;
            font-size: 2rem;
        }
    }
}

.social-icons-wrapper {
    width:350px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

.social-icons-wrapper i {
    font-size: 30px;
    color: #584f53;
    border-radius: 100%;
    cursor: pointer;
    outline: 1px solid gray;
    outline-offset: 7px;
}

.twitter-tittle {
    font-size: 1.6rem;
    color: #03a9f4;
    margin: 15px 0 0 15px;
    font-weight: bold;

}

.twitter-email {
    color: #a1a0a1;
    margin: 15px 0 0 15px;
    font-size: 1rem;
}

.instagram-feed-card-description {
    font-size: 1rem;
    color: #666666;
    text-align: justify;
}

.twitter-btn {
    color: white;
    font-size: 1.1rem;
    width: 120px;
    padding: 5px 0;
    border-radius: 40px;
    background-color: #04a9f4;
    border: none;
    margin: 20px 150px;
    cursor: pointer;
}

.twitter-btn:hover {
    background: #0691d1;
    border-color: #04a9f4;
}

@media screen and(max-width: 1000px) {

    .instagram-feed {
        
   
    &-wrapper {
        width: 90%;
        margin: 0 auto; 
        grid-template-columns: 1fr;
        grid-template-rows: 420px auto auto;
        justify-items: center;
        row-gap: 80px;
    }

        &-card {
            grid-column: 1;
            grid-row: 1;
            width: 262.5px; 
        }

        &-images {
            grid-column: 1;
            grid-row: 2;
            margin-left: 10px;
            width: 95%;
        }

        &-socials {
            grid-column: 1;
            grid-row: 3;
            margin-top: 10px;
        }
    }
    .instagram-feed-images img{
        height: 100%;
    }

}

@media screen and(max-width: 600px) {
    
    .instagram-feed-image-wrapper img{
        width: 420px;
    }
    .instagram-feed-images{
        height: 100%;
    }
    .twitter-btn {
        margin: 20px 130px;
    }
    
}

@media screen and(max-width: 400px) {
    .instagram-feed-wrapper {
        width: 90%;
        justify-content: center;
        grid-template-columns: 100%;
        row-gap: 20px;
        height: auto;
    }

    .instagram-feed-card {
        width: 75%;
        height: 320px;
        margin-bottom: 150px;
    }
        .instagram-feed-socials {
        margin-top: -1px;
        }

        .twitter-email {
            font-size: 0.7rem;
        }

        .twitter-btn {
            margin: 0px 90px;
        }

        .instagram-feed-images {
            width: 90%;
        }

    .instagram-feed-image {
        width: 100%;
        margin-top: 5px;
    
    }
    .instagram-feed-image-wrapper img{
        width: 100%;
        height: 100%;
    }
}

.instagram-content {
    width: 100%;
    height: 100%;
}

.instagram-feed-image-wrapper {
    display: flex;
    flex-direction: row;
   justify-content: space-between;  
}
