.testimonial {
    height: 95vh;
    width: 100%;
    background: -webkit-linear-gradient(rgba(233, 14, 101, 0.902), rgba(233, 14, 101, 0.902), rgba(233, 14, 101, 0.902), rgba(233, 14, 101, 0.902)), url(../img/about-me-img.png);
    
    &-wrapper {
        width: 600px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }   

    &-image {
        display: flex;
        justify-content: space-evenly;
        color: red;
        width: 100%;
    }
    h1 {
        margin-top: 90px;
    }
    p {
        text-align: center;
        padding: 0 50px;
        font-size: 1.2rem;
        color: aliceblue;
    }
}

.circle-image {
    margin-bottom: 90px;
    border-radius: 100% ;
    outline: 1px solid white;
    outline-offset: 5px;
    width: 120px;
    height: 120px;  
}

.quote-image {
    width: 90px;
    height: 70px;
}

@media screen and(max-width: 560px){
    .testimonial {
        height: auto;

        p {
            font-size: 0.8rem;
        }

        &-wrapper {
            width: 90%;
        }
        .circle-image {
            width: 80px;
            height: 80px;
        }
    }
}