$pink: #e90e65;
$text-lightgray: #584f53;
$crimson:#dc0e56;

.zip-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    // height: 50px;
    width: 100%;
}

.zip-content h1 {
    color: #584f53;
}

.arrow {
    height: 10px;
    width: 8px;
    border-radius: 100%;
    outline: 1px solid #584f53;
    outline-offset: 5px;
    margin-left: 16px;
}

// .arrow:hover {
//     // background-color: white;
//     cursor: pointer;
// }

.arrows .hover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;        
}

.arrows:hover .hover {
    display: inline;
}

.arrow:nth-last-child(2) {
    transform: scaleX(-1);
}


.gradient-overlay {
    position: relative;
    border-radius: 15px;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 99.9%;
        background: -webkit-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6));
        border-radius: 15px;
        
    }
    // .gradient-overlay:hover {
    //     // background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(233, 14, 101, 0.95));
    //     background: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(233, 14, 101, 0.95));
    // }
}

.h1-white {
    color: white;
}

// .photos:hover div:hover{
//     background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(14, 233, 47, 0.95));
//     opacity: 0.9;
//     transition: .4s ease;
// }

//   to wyżej miało służyć do efektu na zdj tego overlay z gradientem  po nakierowaniu myszka na zdjecia   

.gradient-overlay:hover:after {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(233, 14, 101, 0.95));
    // opacity: 0.9;
    transition: .4s ease;
}