.works {
    height: 100vh;
    background: $pink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.wrapper-works {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-self: space-between;
    align-items: center;
    // background: violet;
 
}
.photos {
    display: flex;
    justify-content: space-between;
    // background: red;
    width: 100%;
    
    
}

.image {
    // margin-right: 15px;
    border-radius: 1rem;
    

    .shadow img{
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.85));
   
    }
    .shadow:hover {
        background: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(233, 14, 101, 0.95)); 
      
    }
}

.photos img {
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.85));
  
  
}

h1 {
    color: #584f53;
    font-size: 1.6rem;
}
.portfolio-header {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 15px;
}
.zip-content-works {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    // height: 50px;
    width: 100%;
    // background: aqua;
    
}

.arrow-works {
    height: 10px;
    width: 8px;
    border-radius: 100%;
    outline: 1px solid white;
    outline-offset: 5px;
    margin-left: 16px;
    cursor: pointer;
}

.arrow-works:hover {
    background: white;
   outline: 5px solid white;
   outline-offset: 0.1px;

}

.arrow-works:nth-last-child(2) {
    transform: scaleX(-1);
}